# Configuração do Servidor
PORT=5000

MONGO_URI=mongodb+srv://<USER>:<PASSWORD>@cluster0.xxxx.mongodb.net/NevoDB

# Configuração do Email 
EMAIL_USER=teu-email-de-teste@gmail.com

EMAIL_PASS=coloca_aqui_a_tua_password_de_aplicacao_de_16_letras